html {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

body {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #FFFFFF;
}

h1 { margin: 10px 0; font-size: 1.6em; color: #505050; }
h2 { margin:  5px 0; font-size: 1.4em; color: #505050; }
h3 { margin:  5px 0; font-size: 1.2em; color: #505050; }

a:link, a:visited, a:hover, a:active { text-decoration: none; }
a:link, a:visited { color: #003399; }
a:hover { color: #3366CC; }
a:active { color: #6699FF; }

hr { border: 1px solid #E0E0E0; }

header, footer, .page-content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

header {
    height: 96px;
    line-height: 100px;
    font-weight: bold;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    background-color: #333333;
    border-bottom: 4px solid #3366CC;
}

footer {
    height: 60px;
    font-size: 13pt;
    background-color: #E0E0E0;
}

.page-content {
    min-height: calc( 100vh - 160px );
}

.content-container {
    margin: 0 auto;
    padding: 20px;
    width: auto;
    max-width: 900px;
}

header .content-container { padding: 0; }
header .content-container h1 { margin: 0; font-size: 2em; }
header .content-container h1 a { color: #FFFFFF; }
footer .content-container { padding: 10px 20px; overflow: hidden; }

.center { text-align: center; }
.black { color: #000000; }

highlighter-rouge {
    background-color: #E0E0E0;
    font-size: 0.75em;
    overflow-y: scroll;
}

.terminal {
    background-color: #000000;
    font-family: monospace;
    color: #32CD32;
    font-size: 0.75em;
}

.blog-post {
    margin: 0;
    padding: 10px;
    width: auto;
    border: 1px solid #E0E0E0;
}

.donation-address {
    font-size: 11pt;
    font-family: monospace;
}
