---
layout: default
---

<h2><span class="black">Blog:</span> {{ page.title }}</h2>
<p class="blog-post-header">
    {{ page.date | date_to_string }}
    {% if page.comments %} • <a href="https://bigreddmachine.github.io{{ page.url }}#disqus_thread">0 Comments</a>{% endif %}
</p>
<hr>
{{ page.content }}


{% if page.xmr %}
<div class="center section-break">
    <h3>Like this post? Send some XMR to show your support:</h3>
    <p class="donation-address">
        <a href="monero:{{ page.xmr }}">
            {{ page.xmr }}
            {% if page.xmrqr %}
            <br><img src="{{ page.xmrqr }}" height="120" />
            {% endif %}
        </a>
    </p>
</div>
{% endif %}
